In [2]:
import pandas as pd

Path = "../MaterialEstudos/BaseDeDados/"
File = "Imobiliária.xlsx"

TabelaDados = pd.read_excel(Path+File, sheet_name="Base")

TabelaDados.head(1)

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6,Coluna 7,Coluna 8,Coluna 8.1,Coluna 10
0,Centro,Simone,2005-10-08,Apartamento,102.5,2,2,Sim,235500,3532.5

In [79]:
TabelaDados.columns = [
    "Filial",
    "Vendedor",
    "Data",
    "Tipo",
    "Área (m²)",
    "Dorms",
    "Garag",
    "Piscina",
    "Preço",
    "Comissão"
]

TabelaDados.head(1)

,Filial,Vendedor,Data,Tipo,Área (m²),Dorms,Garag,Piscina,Preço,Comissão
0,Centro,Simone,2005-10-08,Apartamento,102.5,2,2,Sim,235500,3532.5

In [9]:
type(TabelaDados)

pandas.core.frame.DataFrame

In [14]:
TabelaDados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1117 entries, 0 to 1116
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Filial     1117 non-null   object
 1   Vendendor  1117 non-null   object
 2   Data       1117 non-null   datetime64[ns]
 3   Tipo       1117 non-null   object
 4   Área (m²)  1117 non-null   float64
 5   Dorms      1117 non-null   int64
 6   Garag      1117 non-null   int64
 7   Piscina    1117 non-null   object
 8   Preço      1117 non-null   int64
 9   Comissão   1117 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 87.4+ KB

In [ ]:
TabelaDados.describe

In [ ]:
print(TabelaDados["Preço"].sum())   #Retorna soma da coluna
print(TabelaDados["Preço"].mean())  #Retorna média da coluna
print(TabelaDados["Preço"].max())   #Retorna maior valor da coluna
print(TabelaDados["Preço"].min())   #Retorna menor valor da coluna
print(TabelaDados["Preço"].count()) #Retorna quantidade de valores da coluna

In [ ]:
#Criando filtro no dataframe que retorna todas as linhas que tem a filial igual a centro
TabelaDados[TabelaDados["Filial"]=="Centro"]

In [24]:

#Criar relatório por região centro

ExportFile = TabelaDados[TabelaDados["Filial"]=="Centro"]

PathExport = "./"
NameFileCentro = "ReportFilialCentro.xlsx"

#Criando arquivo excel com nome da planilha FilialCentro sem a coluna de índices
ExportFile.to_excel(PathExport+NameFile, sheet_name="FilialCentro", index=False)

In [25]:
ExportFile = TabelaDados[TabelaDados["Filial"]=="Noroeste"]
NameFileNoroeste = "ReportFilialNoroeste.xlsx"
ExportFile.to_excel(PathExport+NameFileNoroeste, sheet_name="FilialNoroeste", index=False)

In [26]:
ExportFile = TabelaDados[TabelaDados["Filial"]=="Norte"]
NameFileNorte = "ReportFilialNorte.xlsx"
ExportFile.to_excel(PathExport+NameFileNorte, sheet_name="FilialNorte", index=False)

In [27]:
ExporteFile = TabelaDados[TabelaDados["Filial"]=="Sudeste"]
NameFileSudeste = "ReportFilialSudeste.xlsx"
ExportFile.to_excel(PathExport+NameFileSudeste, sheet_name="FilialSudeste", index=False)

In [28]:
ExportFile = TabelaDados[TabelaDados["Filial"]=="Oeste"]
NameFileOeste = "ReportFilialOeste.xlsx"
ExportFile.to_excel(PathExport+NameFileOeste, sheet_name="FilialOeste", index=False)

In [33]:
ExportFile = TabelaDados[TabelaDados["Filial"]=="Leste"]
NameFileLeste = "ReportFilialLeste.xlsx"
ExportFile.to_excel(PathExport+NameFileLeste, sheet_name="FilialLeste", index=False)

In [34]:
ExportFile = TabelaDados[TabelaDados["Filial"]=="Sudoeste"]
NameFileSudoeste = "ReportFilialSudoeste.xlsx"
ExportFile.to_excel(PathExport+NameFileSudoeste, sheet_name="ReportFilialSuduoeste.xlsx", index=False)

In [36]:
ExportFile = TabelaDados[TabelaDados["Filial"]=="Sul"]
NameFileSul = "ReportFilialSul.xlsx"
ExportFile.to_excel(PathExport+NameFileSul, sheet_name="ReportFilialSul.xlsx", index=False)

In [37]:
ExportFile = TabelaDados[TabelaDados["Filial"]=="Nordeste"]
NameFileNordeste = "ReportFilialNordeste.xlsx"
ExportFile.to_excel(PathExport+NameFileNordeste, sheet_name="ReportFilialNordeste.xlsx", index=False)

In [50]:
#Trabalhando com operqdores lógicos para realizar filtros
ExportFile = TabelaDados[
    (TabelaDados["Filial"]=="Norte") & 
    (TabelaDados["Data"] >= "2010-01-01") & 
    (TabelaDados["Data"] <= "2010-12-31")
    ]
NameFileReportL = "ReportFilialNorteVenda2010.xlsx"
ExportFile.to_excel(PathExport+NameFileReportL, sheet_name="RelatórioVendas2010-FilialNorte", index=False)

In [57]:
ExportFile = TabelaDados[
    (TabelaDados["Filial"]=="Sudeste") & 
    (TabelaDados["Data"] >= "2010-01-01") & 
    (TabelaDados["Data"] <= "2010-12-31") &
    (TabelaDados["Tipo"] == "Casa") &
    (TabelaDados["Garag"] == 0)
    ]
NameFileReportL = "ReportSudesteVenda2010CG.xlsx"
ExportFile.to_excel(PathExport+NameFileReportL, sheet_name="RelatórioVendas2010-Sudeste", index=False)

In [ ]:
TabelaDados[TabelaDados["Comissão"] == TabelaDados["Comissão"].max()]

In [85]:
ExportFile = TabelaDados[
    (TabelaDados["Vendedor"] == "Ricardo") &
    (TabelaDados["Data"] < "2011-01-01") &
    (TabelaDados["Tipo"] == "Casa") &
    ((TabelaDados["Dorms"] == 2) | (TabelaDados["Dorms"] == 3))
]
NameFileReport2011 = "ReportRicardoVenda2011.xlsx"
ExportFile.to_excel(PathExport+NameFileReport2011, sheet_name="RelatórioVendasRicardo2011", index=False)

In [66]:
Data = TabelaDados[
    (TabelaDados["Vendedor"] == "Ricardo")     
]

In [75]:
Data[['Vendedor','Comissão']].groupby(['Vendedor']).sum()

           Comissão
Vendendor
Ricardo    739848.0